/*====================
=======Structure======
======================*/

body{
    background-color: hsl(44deg, 5%, 58%);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 100%;
}

header{
    background-color: hsla(0, 0%, 0%, 0.5);
    position: fixed;
    z-index: 1003;
    height: 10.2vh;
}



main{
    margin: 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

.main-element{
    margin-bottom: 2em;
}

.footer-element{
    margin-bottom: 1em;
}

/*====================
========LOGO==========
======================*/
.logo
{

    display: flex;
    justify-content:space-between;
    width: 100%;
    /*background: hsl(0, 0%, 0%);*/
    height: 4em;
}

/*====================
========MENU==========
======================*/
.menu{
    display: flex;
}
.menu a
{
    
    text-decoration:none;
    color:inherit;
    font-size:14px;
}
.menu li
{
    margin: 2em;
    float: right;
    text-align:center;
    color:hsl(0, 0%, 100%);
}

.menu li:hover
{
    background-color:hsl(0, 0%, 100%);
    color:hsl(0, 0%, 0%);

}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}




/*=======================================
=========IMAGEN CON TEXTO ENCIMA=========
=========================================*/

.slider img
{
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 1001;
    
}

.slider__text
{
    
    text-align: center;
    position: absolute;
    z-index: 1002;
    top: 35%;
    left: 35%;
}

/*=========================
=========NOVEDADES=========
=========================*/

.new
{
    
    display: flex;
    padding-top: 3em;
    /*min-width: 45%;
    max-width: 45%;*/
    
}

.new__element
{
    display: flex;
    height: 25em;
    margin-right: -8em;
    margin-left: 6em;
}



/*=====================
=========ABAJO=========
=======================*/

.down
{
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}

/*==================
=========3D=========
==================*/

.services__image model-viewer 
{
    
    height: 20em;
    width: 20em;
}


/*======================
=========FOOTER=========
======================*/

.footer-element{
    width: 100%;
}

.footer-element p{
    text-align: center;
}

.author p:hover
{
    color: hsl(0, 100%, 50%); /*por ejemplo, que se ponga en rojo cuando pasa por encima */
}

@media (max-width:479px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}

@media (max-width:1024px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-label label{
        font-size: 2em;
    }

    .crud__form-input input, 
    .crud__form-input textarea,
    .crud__form-input select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .footer-element p{
        font-size: 1.5em;
    }
}



